MODE=localhost
PORT=8080
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=auth_service
POSTGRES_SSL=disable
POSTGRES_SSL_CERT=
POSTGRES_SSL_KEY=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
DEBUG=true
KONG_HOST=127.0.0.1
KONG_ADMIN_PORT=8001